@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
body {
  width: 1440px;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #2e2f22;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Spectral SC", serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2e2f22;
}
p,
figure,
fieldset,
button,
textarea {
  margin: 0;
  padding: 0;
}
button,
input,
textarea {
  outline: none;
  background: none;
}
.clearfix {
  content: " ";
  display: table;
  clear: both;
}
.position {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.flex_sb {
  display: flex;
  justify-content: space-between;
}
/* --------------- Header ---------------------- */
header {
  width: 1440px;
  height: 581px;
  background: url(../images/) no-repeat;
  background-size: cover;
  margin-right: 0;
  margin-bottom: 83px;
}
header img {
  width: 130px;
  height: 82.51px;
  margin-top: 4px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  font-size: 18px;
}
nav li {
  display: inline-block;
  margin-top: 33px;
  margin-left: 79px;
}
nav li:last-child {
  margin-right: 1px;
}
/* ------------------ Main ------------------------ */
main {
  width: 1440px;
  height: auto;
}
h1 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* -------------------- section_aritcal ----------------------- */
/* ------header artical----- */
.section_aritcal h2 {
  display: inline-block;
  font-size: 36px;
  margin-top: 2px;
}
/* ----Переделать от--- */
.choose_theme {
  width: 203px;
  height: 46px;
  float: right;
  border: none;
  outline: none;
  background: #d7d1c9;
  border-radius: 10px;
}
.choose_theme span {
  font-size: 16px;
  float: left;
  padding-left: 18px;
  letter-spacing: 0.5px;
  color: #2e2f22;
}
.choose_theme img {
  position: relative;
  top: 4px;
  left: 6px;
}
/* -------- ДО--------- */
/* ----------artical----------- */
/* -------------one list-------------- */
.art_one_list {
  height: 420px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.art_one_list li {
  width: 387px;
  height: 268px;
  line-height: 26px;
}
.art_one_list li h3 {
  font-size: 18px;
  margin: 20px 0 8px;
}
.art_one_list li span {
  display: inline-block;
  margin-top: 12px;
}
.art_one_list li time {
  position: relative;
  float: right;
  top: 12px;
  left: -1px;
}
/* -------------two list-------------- */
.art_two_list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 104px;
  color: white;
}
.art_two_list li {
  display: flex;
  align-items: flex-end;
  width: 590px;
  height: 552px;
}
.art_two_list li:first-of-type {
  background: url(/img/Mask\ Group4.jpg) no-repeat;
}
.art_two_list li:last-of-type {
  background: url(/img/Mask\ Group5.jpg) no-repeat;
}
.art_two_list a {
  color: white;
  margin: 0 0 60px 82px;
}
.art_two_list li h3 {
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.art_two_list a p {
  width: 428px;
  font-size: 18px;
  line-height: 28px;
  margin: 8px 0 12px 0;
}
.art_two_list a span {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
}
.art_two_list a time {
  float: right;
  font-size: 16px;
  line-height: 26px;
}
.button {
  width: 225px;
  margin: 0 auto;
}
.input_show_more {
  width: 224px;
  height: 46px;
  border: 1px solid #202117;
  border-radius: 10px;
  outline: none;
  background: none;
  font-size: 17px;
  padding-top: 5px;
  color: #202117;
}
/* ------------------About me------------------ */
#section_about_me {
  width: 1180px;
  height: 800px;
  margin: 86px 0 82px 120px;
}
#section_about_me h2 {
  margin-left: 516px;
  font-size: 36px;
  line-height: 55px;
}
#section_about_me figure {
  width: 590px;
  height: 693px;
  float: left;
  margin-top: 49px;
}
#section_about_me p:first-of-type {
  width: 497px;
  height: 366px;
  float: left;
  margin: 91px 0 71px 40px;
  font-size: 16px;
  line-height: 26px;
}
#section_about_me span {
  position: relative;
}
#section_about_me span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2e2f22;
}
#section_about_me p:last-of-type {
  width: 550px;
  height: 186px;
  float: left;
  margin-left: 17px;
  padding: 28px 0 0 20px;
  font-family: Open Sans;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
  border-left: 3px solid #d7d1c9;
}
/* ------------------Portfolio------------------ */
#section_portfolio {
  text-align: center;
}
#section_portfolio h2 {
  font-size: 36px;
}
#section_portfolio ul {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 103px;
}
#section_portfolio li {
  display: inline-block;
  width: 387px;
  height: 525px;
  border-radius: 11px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 15%);
  /* filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15)); */
}
#section_portfolio li:nth-of-type(1) {
  background: url(/img/portfolio.jpg);
}
#section_portfolio li:nth-of-type(2) {
  background: url(/img/portfolio1.jpg);
  color: white;
}
#section_portfolio li:nth-of-type(3) {
  background: url(/img/portfolio2.jpg);
}
#section_portfolio h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 140px;
}
#section_portfolio h4 {
  font-size: 18px;
  line-height: 28px;
  margin: 43px 20px 0;
}
#section_portfolio p {
  font-size: 16px;
  line-height: 26px;
  margin: 17px 30px 0 30px;
}
#section_portfolio li:last-child p {
  font-size: 16px;
  line-height: 26px;
  margin: 17px 8px 0 8px;
}
#section_portfolio .input_show_more {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}
/* ------------------Write me------------------ */
#section_write_me {
  width: 996px;
  height: 741px;
  margin: 85px auto 80px;
}
#section_write_me h2 {
  text-align: center;
  margin-bottom: 49px;
  font-size: 36px;
  line-height: 55px;
}
#section_write_me form {
  display: inline-block;
  width: 996px;
  height: 637px;
  border-radius: 10px;
  background: url(/img/Message.jpg) no-repeat;
}
#section_write_me ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 834px;
  height: auto;
  margin: 53px 80px 20px 81px;
}
#section_write_me li {
  display: flex;
  flex-direction: column;
  width: 407px;
}
#section_write_me li input {
  height: 59px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  border-radius: 10px;
}
#section_write_me label {
  font-family: "Spectral SC", serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}
.textarea {
  display: flex;
  flex-direction: column;
  width: 835px;
  margin: 0 auto 20px;
}
#section_write_me textarea {
  display: inline-block;
  width: 835px;
  height: 291px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  border-radius: 10px;
}

#section_write_me textarea::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.7;
  padding: 20px 0 0 20px;
}

.button .input_show_more {
  text-transform: uppercase;
}
#section_write_me ul input,
textarea {
  font-size: 16px;
  line-height: 22px;
  color: #202117;
  opacity: 0.7;
}

/* ------------------Footer------------------ */
footer {
  width: 1440px;
  height: 181px;
  background: #d7d1c9;
  text-align: center;
}
footer h2 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  width: 631px;
  height: 25px;
  margin: 0 auto;
}

footer li {
  font-size: 18px;
  line-height: 25px;
  margin-top: 66px;
}
